<h1>Rates Добавить</h1>
<p> <%=form_for @rate do |f| %>
      <%= f.label :name  %>
      <%= f.text_field :name  %> </br>
      <%= f.label :value  %>
      <%= f.text_field :value %> </br>
      <%= f.submit "Добавить"%>
    <%end%>
</p>
